
body{
  background-color:rgb(105, 156, 223);
  text-align:center;
}

header{
  background-color:aqua;
  width:320px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 3px 3px 3px;
  margin-bottom: 20px;
  border: 20px double darkblue;
}

main{
  background-color:lightskyblue;
  padding: 10px 20px;
  margin: auto;
  border: 10px outset rgb(0, 25, 250);
  width:500px;
}

img{
  width:500px;
  border:3px solid black;
}

iframe{
  width:500;
  height:300;
  border:3px solid black;
}